<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html' %}
  <body>
    <div class="site-root">
      <div class="site-content">
        {% include 'partials/header.html' %}
        <div id="main">
          {{ content }}
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </div>
  </body>
</html>
