---
layout: layout.liquid
---

<section>
  <!-- prettier-ignore -->
  {% assign post_by_order = contentful | sort: "ordering" %} 
  {% for post in post_by_order %}
  {% if post.ordering > 0 %}
  <article>
    <p>
      <a href="pages/{{ post.slug | url }}">{{ post.title }}</a>
      | <span class="date">{{ post.date | date : "%Y-%m-%d" }}</span>
    </p>
    <!-- <script>
      console.log("Hello from index.liquid", "{{post.ordering}}");
    </script> -->
  </article>
  <!-- prettier-ignore -->
  {% endif %} 
  {% endfor %}
</section>
