@use "variables";

.article-body {
  margin: 0px auto auto;
  width: 100%;
  max-width: 650px;
  padding: 3em 1.5em 2em;

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  time.date {
    margin-bottom: 1rem;
    font-weight: normal;
    display: block;
  }

  ul {
    line-height: 1.25;
    margin-bottom: 2rem;
    a {
      transition: 0.2s;
      color: var(--theme-ui-colors-text);
      &:hover {
        color: var(--theme-ui-colors-highlight);
      }
      h2 {
        font-size: 1.25em;
        font-weight: 600;
        text-transform: capitalize;
        margin: 1rem 1rem 0.5rem;
      }
    }

    // List item responsive layout
    li {
      // Default: one across on small screens (< 560px)
      flex: 0 0 100%;

      // Medium screens: two across (560px - 799px)
      @media (min-width: variables.$break-med) and (max-width: calc(variables.$break-lg - 1px)) {
        flex: 0 0 calc(50% - 0.5rem);
      }

      // Large screens: three across (800px and above)
      @media (min-width: variables.$break-lg) {
        flex: 0 0 calc(33.333% - 0.67rem);
      }

      // First list item always full width
      &:first-child {
        flex: 0 0 100%;

        .image-container {
          height: 300px; // Set a good height for the hero image
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      // Consistent image dimensions for all items except the first
      &:not(:first-child) {
        .image-container {
          height: 200px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

.about-body {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}
