@use "variables";

:root {
  --theme-ui-colors-text: #121212;
  --theme-ui-colors-background: #ffffff;
  --theme-ui-colors-text: #121212;
  --theme-ui-colors-primary: #121212;
  --theme-ui-colors-secondary: #e9e9e9;
  --theme-ui-colors-tertiary: #f3f3f3;
  --theme-ui-colors-highlight: #553e37;
  --theme-ui-colors-ppuaba: #402f29;
  --test: #ff0000;
}

html {
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-background);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  // aspect-ratio: 2 / 1;
}

.navbar {
  background: var(--theme-ui-colors-ppuaba);
  width: 100%;
  padding: 1.5em 0px;
  position: sticky;
  top: 0;
  z-index: 4;
  nav {
    width: 100%;
    max-width: 1050px;
    margin: 0px auto;
    padding: 0px 1.5em;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        display: inline-block;
        margin-left: 1em;
        a {
          text-decoration: none;
          color: darkgray;
          font-weight: 600;
          transition: all 0.2s ease 0s;
          border-bottom: 2px solid #121212;
        }
        &:first-of-type {
          position: relative;
          margin: 0px;
          flex-basis: 100%;
          @media (width > variables.$break-sm) {
            color: red !important;
          }
          a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.2s ease 0s;
            border-bottom: 2px solid var(--theme-ui-colors-text);
          }
        }
      }
    }
  }
}

.home__section {
  margin: 0px auto auto;
  width: 100%;
  max-width: 1050px;
  padding: 1.5em 1.5em 2em;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    a {
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 100%;
      color: var(--theme-ui-colors-text);
      text-decoration: none;
      border: 1px solid var(--theme-ui-colors-secondary);
      &:hover {
        background: var(--theme-ui-colors-tertiary);
      }
      h2 {
        font-size: 1.25em;
        font-weight: 600;
        text-transform: capitalize;
        margin: 1rem 1rem 0.5rem;
      }
      time.date {
        margin: 0px 1rem 0.5rem;
        color: gray;
        font-size: 0.75rem;
        font-weight: normal;
        display: block;
      }
      p {
        margin: 0px 1rem 1rem;
        line-height: 1.6;
      }
    }

    // List item responsive layout
    li {
      // Default: one across on small screens (< 560px)
      flex: 0 0 100%;

      // Medium screens: two across (560px - 799px)
      @media (min-width: variables.$break-med) and (max-width: calc(variables.$break-lg - 1px)) {
        flex: 0 0 calc(50% - 0.5rem);
      }

      // Large screens: three across (800px and above)
      @media (min-width: variables.$break-lg) {
        flex: 0 0 calc(33.333% - 0.67rem);
      }

      // First list item always full width
      &:first-child {
        flex: 0 0 100%;

        .image-container {
          height: 300px; // Set a good height for the hero image
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      // Consistent image dimensions for all items except the first
      &:not(:first-child) {
        .image-container {
          height: 200px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

// section ul li:first-child {
//   flex: 0 0 100%;
//   position: relative;
//   border: 1px solid var(--theme-ui-colors-secondary);
//   // img {
//   //   bottom: 0;
//   //   height: 1200px;
//   //   left: 0;
//   //   margin: 0;
//   //   max-width: none;
//   //   padding: 0;
//   //   position: absolute;
//   //   right: 0;
//   //   top: 0;
//   //   width: 1800px;
//   //   object-fit: cover;
//   // }
// }

// section li {
//   flex: 0 0 32%;
//   &:hover {
//     background: var(--theme-ui-colors-tertiary);
//   }
// }

// .contact {
//   h1 {
//     font-size: 3em;
//     text-transform: capitalize;
//     font-weight: 600;
//     text-align: center;
//     margin: 0px 0px 3rem;
//     line-height: 1.2;
//   }
//   input,
//   textarea {
//     font-family: inherit;
//     font-size: inherit;
//     background: var(--theme-ui-colors-tertiary);
//     color: var(--theme-ui-colors-text) #121212;
//     border-radius: 2px;
//     padding: 1em;
//     width: 90%;
//     border: none;
//     appearance: none;
//     margin: 0.5rem;
//   }
//   textarea {
//     line-height: 1.6;
//     min-height: 250px;
//     resize: vertical;
//   }
//   input[type="submit"] {
//     cursor: pointer;
//     transition: 0.2s;
//     background: var(--theme-ui-colors-text);
//     color: white;
//   }
//   .popover {
//     background: white;
//     padding: 2em;
//     border-radius: 2px;
//     position: fixed;
//     // min-width: 75%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     margin: 0px auto;
//     z-index: 99;
//     display: flex;
//     flex-flow: column;
//     align-items: flex-start;
//     transition: 0.2s;
//     opacity: 1;
//     visibility: visible;
//     // opacity: 0;
//     // visibility: hidden;
//     max-width: 400px;
//     p {
//       line-height: 1.6;
//       margin: 0px 0px 2em;
//     }
//     .popover-okay {
//       background: var(--theme-ui-colors-text);
//       font-size: 1em;
//       display: inline-block;
//       margin: 0px auto;
//       border: none;
//       outline: none;
//       cursor: pointer;
//       color: white;
//       padding: 1em;
//       border-radius: 2px;
//       text-decoration: none;
//       transition: 0.2s;
//       z-index: 99;
//     }
//   }
// }

/* === */

.site-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.page__header {
  display: flex;
  width: 100vw;
  height: 500px;
  padding: 0;
  position: relative;
  h1 {
    z-index: 2;
    // font-size: 3em;
    // text-transform: capitalize;
    font-weight: 600;
    position: absolute;
    // width: 100%;
    max-width: 650px;
    // padding: 0px 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .page__header__image {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    // darkening overlay for images
    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      inset: 0px;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.article-body {
  time.date {
    margin-bottom: 1rem;
    color: gray;
    font-size: 0.75rem;
    font-weight: normal;
    display: block;
  }
  p {
    line-height: 1.6;
    margin: 0px 0px 2em;
  }
}
