:root {
  --theme-ui-colors-text: #121212;
  --theme-ui-colors-background: #ffffff;
  --theme-ui-colors-text: #121212;
  --theme-ui-colors-primary: #121212;
  --theme-ui-colors-secondary: #e9e9e9;
  --theme-ui-colors-tertiary: #f3f3f3;
  --theme-ui-colors-highlight: #553e37;
  --theme-ui-colors-ppuaba: #402f29;
  --test: #ff0000;
}

html {
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-background);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.navbar {
  background: var(--theme-ui-colors-ppuaba);
  width: 100%;
  padding: 1.5em 0px;
  position: sticky;
  top: 0;
  z-index: 4;
}
.navbar nav {
  width: 100%;
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 1.5em;
}
.navbar nav ul {
  display: flex;
  justify-content: space-between;
}
.navbar nav ul li {
  display: inline-block;
  margin-left: 1em;
}
.navbar nav ul li a {
  text-decoration: none;
  color: darkgray;
  font-weight: 600;
  transition: all 0.2s ease 0s;
  border-bottom: 2px solid #121212;
}
.navbar nav ul li:first-of-type {
  position: relative;
  margin: 0px;
  flex-basis: 100%;
}
@media (width > 320px) {
  .navbar nav ul li:first-of-type {
    color: red !important;
  }
}
.navbar nav ul li:first-of-type a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease 0s;
  border-bottom: 2px solid var(--theme-ui-colors-text);
}

.home__section {
  margin: 0px auto auto;
  width: 100%;
  max-width: 1050px;
  padding: 1.5em 1.5em 2em;
}
.home__section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.home__section ul a {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  color: var(--theme-ui-colors-text);
  text-decoration: none;
  border: 1px solid var(--theme-ui-colors-secondary);
}
.home__section ul a:hover {
  background: var(--theme-ui-colors-tertiary);
}
.home__section ul a h2 {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: capitalize;
  margin: 1rem 1rem 0.5rem;
}
.home__section ul a time.date {
  margin: 0px 1rem 0.5rem;
  color: gray;
  font-size: 0.75rem;
  font-weight: normal;
  display: block;
}
.home__section ul a p {
  margin: 0px 1rem 1rem;
  line-height: 1.6;
}
.home__section ul li {
  flex: 0 0 100%;
}
@media (min-width: 560px) and (max-width: 799px) {
  .home__section ul li {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
@media (min-width: 800px) {
  .home__section ul li {
    flex: 0 0 calc(33.333% - 0.67rem);
  }
}
.home__section ul li:first-child {
  flex: 0 0 100%;
}
.home__section ul li:first-child .image-container {
  height: 300px;
  overflow: hidden;
}
.home__section ul li:first-child .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.home__section ul li:not(:first-child) .image-container {
  height: 200px;
  overflow: hidden;
}
.home__section ul li:not(:first-child) .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__body {
  margin: 0px auto auto;
  width: 100%;
  max-width: 1050px;
  padding: 1.5em 1.5em 2em;
}
.page__body ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.page__body ul a {
  transition: 0.2s;
  color: var(--theme-ui-colors-text);
}
.page__body ul a:hover {
  color: var(--theme-ui-colors-highlight);
}
.page__body ul a h2 {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: capitalize;
  margin: 1rem 1rem 0.5rem;
}
.page__body ul a time.date {
  margin: 0px 1rem 0.5rem;
  color: gray;
  font-size: 0.75rem;
  font-weight: normal;
  display: block;
}
.page__body ul a p {
  margin: 0px 1rem 1rem;
  line-height: 1.6;
}
.page__body ul li {
  flex: 0 0 100%;
}
@media (min-width: 560px) and (max-width: 799px) {
  .page__body ul li {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
@media (min-width: 800px) {
  .page__body ul li {
    flex: 0 0 calc(33.333% - 0.67rem);
  }
}
.page__body ul li:first-child {
  flex: 0 0 100%;
}
.page__body ul li:first-child .image-container {
  height: 300px;
  overflow: hidden;
}
.page__body ul li:first-child .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page__body ul li:not(:first-child) .image-container {
  height: 200px;
  overflow: hidden;
}
.page__body ul li:not(:first-child) .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* === */
.site-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.page__header {
  display: flex;
  width: 100vw;
  height: 500px;
  padding: 0;
  position: relative;
}
.page__header h1 {
  z-index: 2;
  font-weight: 600;
  position: absolute;
  max-width: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.page__header .page__header__image {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.page__header .page__header__image::before {
  content: "";
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.page__header .page__header__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.page__body time.date {
  margin-bottom: 1rem;
  color: gray;
  font-size: 0.75rem;
  font-weight: normal;
  display: block;
}
.page__body p {
  line-height: 1.6;
  margin: 0px 0px 2em;
}

/*# sourceMappingURL=main.css.map */
