---
data: about
size: 1
alias: about
permalink: "about/"
tags: "about"
layout: layout.liquid
eleventyComputed:
  title: "{{ about.title}} PPUABA"
---

<section class="section">

  <div class="article-body about-body">
    <h1 style="text-align: center; margin-bottom: 2rem;">{{ about.title }}</h1>
    {{ about.body  }}
</section>

<!-- {% Page about.title about.date about.body %} -->
