---
layout: layout.liquid
---

<section class="section">
  <ul>
    <section class="contact">
      <h1>Contact</h1>
      <form
        name="contact"
        data-netlify="true"
        data-netlify-honeypot="bot"
        class="css-is6do5 ecjx3hb6"
      >
        <input type="hidden" name="form-name" value="contact" />
        <p hidden="">
          <label>Don’t fill this out: <input name="bot" /></label>
        </p>
        <input
          name="name"
          type="text"
          placeholder="Full Name"
          required=""
          class="css-o05d52 ecjx3hb5"
          value=""
        /><input
          name="email"
          type="email"
          placeholder="Email"
          required=""
          class="css-o05d52 ecjx3hb4"
          value=""
        /><textarea
          name="message"
          type="text"
          placeholder="Message"
          required=""
          class="css-1daja1a ecjx3hb3"
        ></textarea
        ><input
          name="submit"
          type="submit"
          class="css-15j6ws0 ecjx3hb2"
          value="Send"
        />
        <div class="popover">
          <p>
            Thank you for reaching out. We will get back to you as soon as
            possible.
          </p>
          <div class="popover-okay">Okay</div>
        </div>
      </form>
    </section>
  </ul>
</section>
